

body{	
	padding-top: 80px;
	font-family: 'Raleway', sans-serif;
}



h1{
  text-align: center;
}
#zahlung{
  float: center;
}
.bild{
  float: right;
}

#con{
  width: 80%;
}

.icon1{
  height: 50%;
}

#kontaktdaten{
  margin-top: 100px;
}

#bestellung{
  margin-top: 100px;
  width: 100%;
}
td.hide, th.hide{
  display:none;
}

@media (max-width:770px) {
  .container{
    width: 100%;
  }
  td.show, th.show{
    display:block;
  }
  td.hide, th.hide{
  display:none;
}

}